body {
    margin: 0;
    padding: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.leaflet-container a { color: #333; }
.hashtag-input {
    width: 200px;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #ebebeb;
    padding: 7px;
    outline: none;
}

.hashtag-input:focus {
    border: 2px solid #5231e9;
}

.highcharts {
    display: none;
    background-color: white;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    border: 0;
}

#sentiment, #volume {
    min-width: 500px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li { height: 30px; margin: 0 0 7px 0; width: 180px; }
li a {
    display: block;
    height: 30px;
    width: 180px;
    margin: 0 0 7px 0;
    padding: 5px 0 0 10px;
    background-color: #F7F5F2;
    font-size: 18px;
    text-decoration: none;
}

li a:hover { background-color: #EFEFEF; }
.orange { border-left: 5px solid #F5876E; }
.purple   { border-left: 5px solid #988CC3; }
.green  { border-left: 5px solid #8EBd40; }
