{% extends "streaming.layout.html" %}
{% block body %}
  <h1>Flask-SocketIO Test</h1>
  <p>Async mode is: <b>{{ async_mode }}</b></p>
  <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
  <div id="leaflet-map-container"></div>
  <h2>Send:</h2>
  <div id="highcharts-chart-container" style="height: 400px"></div>
  <button id="hideRetweets">Hide Retweets</button>
  <button id="showRetweets">Show Retweets</button>
  <h2>Receive:</h2>
  <h1>Live tweets of: streaming_chocie</h1>
  <div id="log"></div>
  <div id="container2"></div>
{% endblock %}
